<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
</head>
<body>

    <form action="/movies" method="POST">
        <!-- Campo oculto para especificar el método POST -->
        <input type="hidden" name="_method" value="POST">

        <span>Pelicula</span>
        <input type="text" name="movie"> <br>

        <span>Descripción</span>
        <input type="text" name="description"> <br>
        
        <span>Director</span>
        <input type="text" name="director"> <br>

        <span>Url Imagen</span>
        <input type="text" name="url_imagen"> <br>

        <span>Fecha de Estreno</span>
        <input type="text" name="year_of_publication"> <br>
        
        <input type="submit">
    </form>

</body>

</html>